body{
    margin: 0;
    padding: 0;
    background: url(bg10.webp) no-repeat;
    background-size: cover;
  }
  .box{
    width: 450px;
    background: rgba(6, 1, 1, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h4{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  .highlight{
    background-image: linear-gradient(#F6532F, #F6532F, #F6532F);
    border-radius: 6px;
    padding: 3px 6px;
  }
  .high2{
    background-image: linear-gradient(#F6532F, #F6532F, #F6532F);
    border-radius: 6px;
    padding: 3px 6px;
  }
  .high3{
    background-image: linear-gradient(#A75D24, #A75D24, #A75D24);
    border-radius: 6px;
    padding: 3px 6px;
  }
  .high4{
    background-image: linear-gradient(#A75D24, #A75D24, #A75D24);
    border-radius: 6px;
    padding: 3px 6px;
  }
  .high5{
    background-image: linear-gradient(#A75D24, #A75D24, #A75D24);
    border-radius: 6px;
    padding: 3px 6px;
  }
  .box-img1{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  .p{
 text-align: justify;
  }
  
  

  
  